/* 无关样式 */
.abc {
  width: 1px;
}

/* antd样式 */
.lyt-message {
  width: 2px;
}

/* antd样式 */
.lyt-message .lyt-message-title {
  width: 3px;
}

/* 手动修改的lyt样式 */
.warp .lyt-message {
  width: 4px;
}

/* 手动修改的ant样式 */
.warp2 .ant-message {
  width: 5px;
}
